doctype html
html(lang='pl')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Tranquil Haven Hotel - Reservation
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css')

        script.
            function back(){
                history.back()
            }

    body
        nav(class='navbar navbar-expand-md bg-body-secondary')
            div(class='container-fluid')
                i(class='bi bi-buildings')
                a(class='navbar-brand me-auto fs-3' href='/') Tranquil Haven Hotel
                button(class='navbar-toggler' type='button' data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded='false' aria-label="Toggle navigation")
                    span(class='navbar-toggler-icon')
                div(class='collapse navbar-collapse' id='navbarNav')
                    ul(class='navbar-nav ms-auto') 
                        li(class='nav-item dropdown')
                            a(class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Offer
                            ul(class='dropdown-menu')
                                li
                                    a(class='dropdown-item' href='/rooms') Rooms
                                    a(class='dropdown-item' href='/reviews') Reviews
                                    hr(class='dropdown-divider')
                                    a(class='dropdown-item' href='/reservationInfo') Your reservation
                                    hr(class='dropdown-divider')
                                    a(class='dropdown-item' href='/reservation') Reservation
                        li(class='nav-item')
                            a(class='dropdown-item' href='/admin') Admin Panel

        main
            form(method='post' action='/reservation/result')
                each i in data.count
                    h4 Guest #{i}:
                    h6 If you had reservation before, only email is necessary
                    label(for=`first_name_${i}`) Firstname:
                    input(type='text' id=`first_name_${i}` name=`first_name_${i}` class='form-control' placeholder=`Firstname of guest ${i}`)
                    br
                    label(for=`last_name_${i}`) Lastname:
                    input(type='text' id=`last_name_${i}` name=`last_name_${i}` class='form-control' placeholder=`Lastname of guest ${i}`)
                    br
                    label(for=`birthday_${i}`) Birthday:
                    input(type='text' id=`birthday_${i}` name=`birthday_${i}` class='form-control' placeholder='YYYY-MM-DD')
                    br
                    label(for=`address_${i}`) Address:
                    input(type='text' id=`address_${i}` name=`address_${i}` class='form-control' placeholder=`Address of guest ${i}`)
                    br
                    label(for=`email_${i}`) Email:
                    input(type='email' id=`email_${i}` name=`email_${i}` class='form-control' placeholder=`Email of guest ${i}` required)
                    br
                    label(for=`phone_${i}`) Phone:
                    input(type='text' id=`phone_${i}` name=`phone_${i}` class='form-control' placeholder=`Phone of guest ${i}`)
                    br
                label(for=`note`) Additional note: 
                br
                textarea(name="note" id='note' rows=2)
                br
                hr
                h3 Available rooms from #{data.dateFrom} to: #{data.dateTo}:
                fieldset 
                    each room in data.room
                        div(class='form-check')
                            input.form-check-input(type='checkbox' name='rooms' id=`room${room.room_number}` value=`${room.room_number}`)
                            label.form-check-label(for=`room${room.room_number}`)
                            | Room #{room.room_number} - Capacity: #{room.capacity} - Price: $#{room.price}
                hr
                h3 Food type:
                select(id='food' name='food')
                    each food in data.food
                        option(value=food.type) #{food.name} | price: #{food.price}
                br
                hr
                input(type='hidden' name='dateFrom' value=`${data.dateFrom}`)
                input(type='hidden' name='dateTo' value=`${data.dateTo}`)
                input(type='hidden' name='count' value=`${data.guestCount}`)
                input(type='submit' value='Next')
            
            button(onclick='back()') Back
            
        footer  
            div(class='bg-body-secondary')
                div(class='row')
                    div(class='col-md-4')
                        p(class='text-center') dcebula@student.agh.edu.pl
                    div(class='col-md-4')
                    div(class='col-md-4')
                        p(class='text-center') Dariusz Cebula 
                            i(class='bi bi-c-circle')
                        

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous') 
